<!DOCTYPE html>
<html lang="en">
<head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1, user-scalable=no">
        <title>Contact</title>
        <link rel="stylesheet" href="contact.css">
        <!--font-->
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@100;200;300;400;500;600;700;800;900&display=swap" rel="stylesheet">
        <!--end of font-->
        <!--bootstrap-->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
        <!--end of bootstrap-->
    </head>
<body>
    <div class="container">
                <h1 class="text-center"><a href="/">Erin Tonkon</a></h1>
                <h2 class="text-center">Producer | Engineer | Mixer</h2>
                <p class="text-center contact">Erin Tonkon: <a href="mailto:erintonkon@gmail.com">erintonkon@gmail.com</a>
                <p class="text-center">Management: <a href="mailto:nasa.mgtm1@gmail.com">nasa.mgmt1@gmail.com</a>
    </div>
</body>
</html>