<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1, user-scalable=no">
        <title>Erin Tonkon</title>
        <link rel="stylesheet" href="main.css">
        <!--font-->
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Geist+Mono:wght@100..900&display=swap" rel="stylesheet">
        <!--end of font-->
        <!--font-->
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Geist+Mono:wght@100..900&display=swap" rel="stylesheet">
        <!--end of font-->
        <!--bootstrap-->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
        <!--end of bootstrap-->
    </head>
    <body>
        <div class="container">
            <div class="row">
                <div class="col-sm header">
                        <h1 class="text-center"><a href="/">Erin Tonkon</a></h1>
                        <h3 class="text-center jobs">Producer - Mixer - Engineer</h3>
                        <div><p class="text-center contact"><a href="https://tisch.nyu.edu/about/directory/clive-davis-institute/1736682057.html">Bio</a></p>
                            <p class="text-center"><a href="/reel">Reel</a></p>
                        <p class="text-center"><a href="/contact">Contact</a></p>
                        </div>
                </div>
                <div class="full-width-line"></div>
                <h2 class="text-center discography-word">Selected Discography</h2>
                <div class="discography">
                    <div class="img-container col-sm-4 text-center hover-area">
                            <img src="/assets/david-bowie-blackstar.jpeg" class="cover">
                            <div class="text-center hover-text">
                                <h5>David Bowie</h5>
                                <p><a href="https://music.apple.com/us/album/blackstar/1676286487" target="_blank">Blackstar</a></p>
                            </div>
                    </div>
                    <div class="img-container col-sm-4 text-center hover-area">
                            <img src="/assets/david-bowie-no-plan.jpeg" class="cover">
                            <div class="text-center hover-text">
                                <h5>David Bowie</h5>
                                <p><a href="https://music.apple.com/us/album/no-plan-e-p-ep/1729251922" target="_blank">No Plan EP</a></p>
                            </div>
                    </div>
                    <div class="img-container col-sm-4 text-center hover-area">
                            <img src="/assets/richard-hell-destiny.jpeg" class="cover">
                            <div class="text-center hover-text">
                                <h5>Richard Hell and the Voidoids</h5>
                                <p><a href="https://music.apple.com/us/album/destiny-street-complete/1708211637" target="_blank">Destiny Street (Complete)</a></p>
                            </div>
                    </div>
                    <div class="img-container col-sm-4 text-center hover-area">
                            <img src="/assets/grace-ives-janky-star.jpeg" class="cover">
                            <div class="text-center hover-text">
                                <h5>Grace Ives</h5>
                                <p><a href="https://graceives.bandcamp.com/album/janky-star" target="_blank">Janky Star</a></p>
                            </div>
                    </div>
                    <div class="img-container col-sm-4 text-center hover-area">
                            <img src="/assets/gustaf-package.jpeg" class="cover">
                            <div class="text-center hover-text">
                                <h5>Gustaf</h5>
                                <p><a href="https://gustaf-nyc.bandcamp.com/album/package-pt-2" target="_blank">Package Pt. 2</a></p>
                            </div>
                    </div>
                    <div class="img-container col-sm-4 text-center hover-area">
                            <img src="/assets/sloppy-jane-cancer.jpeg" class="cover">
                            <div class="text-center hover-text">
                                <h5>Sloppy Jane</h5>
                                <p><a href="https://sloppyjanemusic.bandcamp.com/track/cancer-mcr-cover" target="_blank">Cancer</a></p>
                            </div>
                    </div>
                    <div class="img-container col-sm-4 text-center hover-area">
                            <img src="/assets/cafune-unchained.jpeg" class="cover">
                            <div class="text-center hover-text">
                                <h5>Cafune</h5>
                                <p><a href="https://music.apple.com/us/song/unchained-memory/1805292431" target="_blank">Unchained Memory</a></p>
                            </div>
                    </div>
                    <div class="img-container col-sm-4 text-center hover-area">
                            <img src="/assets/rosie-tucker-sucker.jpeg" class="cover">
                            <div class="text-center hover-text">
                                <h5>Rosie Tucker</h5>
                                <p><a href="https://rosietucker.bandcamp.com/album/sucker-supreme" target="_blank">Sucker Supreme</a></p>
                            </div>
                    </div>
                    <div class="img-container col-sm-4 text-center hover-area">
                            <img src="/assets/lady-lamb-tremor.jpeg" class="cover">
                            <div class="text-center hover-text">
                                <h5>Lady Lamb</h5>
                                <p><a href="https://badabingrecords.bandcamp.com/album/even-in-the-tremor" target="_blank">Even in the Tremor</a></p>
                            </div>
                    </div>
                    <div class="img-container col-sm-4 text-center hover-area">
                            <img src="/assets/esperanza-emily.jpeg" class="cover">
                            <div class="text-center hover-text">
                                <h5>Esperanza Spalding</h5>
                                <p><a href="https://esperanzaspalding.bandcamp.com/album/emily-s-d-evolution" target="_blank">Emily's D + Evolution</a></p>
                            </div>
                    </div>
                    <div class="img-container col-sm-4 text-center hover-area">
                            <img src="/assets/damned-evil-spirits.jpeg" class="cover">
                            <div class="text-center hover-text">
                                <h5>The Damned</h5>
                                <p><a href="https://music.apple.com/us/album/evil-spirits/1669870006" target="_blank">Evil Spirits</a></p>
                            </div>
                    </div>
                    <div class="img-container col-sm-4 text-center hover-area">
                            <img src="/assets/david-bowie-next-day.jpeg" class="cover">
                            <div class="text-center hover-text">
                                <h5>David Bowie</h5>
                                <p><a href="https://music.apple.com/us/album/the-next-day-extra-ep/1676273586" target="_blank">The Next Day Extra EP</a></p>
                            </div>
                    </div>
                    <div class="img-container col-sm-4 text-center hover-area">
                            <img src="/assets/david-bowie-lazarus.jpeg" class="cover">
                            <div class="text-center hover-text">
                                <h5>David Bowie</h5>
                                <p><a href="https://music.apple.com/us/album/lazarus-original-cast-recording/1743064846" target="_blank">Lazarus: Original New York Cast Recording</a></p>
                            </div>
                    </div>
                    <div class="img-container col-sm-4 text-center hover-area">
                            <img src="/assets/david-bowie-legacy.jpeg" class="cover">
                            <div class="text-center hover-text">
                                <h5>David Bowie</h5>
                                <p><a href="https://music.apple.com/us/album/legacy-the-very-best-of-david-bowie-deluxe-edition/1676421246" target="_blank">Legacy (The Very Best of David Bowie, Deluxe)</a></p>
                            </div>
                    </div>
                    <div class="img-container col-sm-4 text-center hover-area">
                            <img src="/assets/pixx-small.jpeg" class="cover">
                            <div class="text-center hover-text">
                                <h5>Pixx</h5>
                                <p><a href="https://music.apple.com/us/album/small-mercies/1451951530" target="_blank">Small Mercies</a></p>
                            </div>
                    </div>
                    <div class="img-container col-sm-4 text-center hover-area">
                            <img src="/assets/nuha-ruby-how.jpeg" class="cover">
                            <div class="text-center hover-text">
                                <h5>Nuha Ruby Ra</h5>
                                <p><a href="https://nuharubyra.bandcamp.com/album/how-to-move" target="_blank">How to Move</a></p>
                            </div>
                    </div>
                    <div class="img-container col-sm-4 text-center hover-area">
                            <img src="/assets/nosaj-thing-continua.jpeg" class="cover">
                            <div class="text-center hover-text">
                                <h5>Nosaj Thing</h5>
                                <p><a href="https://nosajthing.bandcamp.com/album/continua" target="_blank">Continua</a></p>
                            </div>
                    </div>
                    <div class="img-container col-sm-4 text-center hover-area">
                            <img src="/assets/myrkur-spine.jpeg" class="cover">
                            <div class="text-center hover-text">
                                <h5>Myrkur</h5>
                                <p><a href="https://myrkur.bandcamp.com/album/spine" target="_blank">Spine</a></p>
                            </div>
                    </div>
                    <div class="img-container col-sm-4 text-center hover-area">
                            <img src="/assets/boeckner.jpeg" class="cover">
                            <div class="text-center hover-text">
                                <h5>Boeckner</h5>
                                <p><a href="https://boeckner.bandcamp.com/album/boeckner" target="_blank">Boeckner</a></p>
                            </div>
                    </div>
                    <div class="img-container col-sm-4 text-center hover-area">
                            <img src="/assets/sad-13-haunted.jpeg" class="cover">
                            <div class="text-center hover-text">
                                <h5>Sad13</h5>
                                <p><a href="https://sad13.bandcamp.com/album/haunted-painting" target="_blank">Haunted Painting</a></p>
                            </div>
                    </div>
                    <div class="img-container col-sm-4 text-center hover-area">
                            <img src="/assets/many-voices-speak-gestures.jpeg" class="cover">
                            <div class="text-center hover-text">
                                <h5>Many Voices Speak</h5>
                                <p><a href="https://manyvoicesspeak.bandcamp.com/album/gestures" target="_blank">Gestures</a></p>
                            </div>
                    </div>
                    <div class="img-container col-sm-4 text-center hover-area">
                            <img src="/assets/emily-jackson-phases.jpeg" class="cover">
                            <div class="text-center hover-text">
                                <h5>Emily Jackson</h5>
                                <p><a href="https://music.apple.com/us/album/phases-ep/1646499475" target="_blank">PHASES</a></p>
                            </div>
                    </div>
                        <div class="img-container col-sm-4 text-center hover-area">
                            <img src="/assets/ani-anamores.jpeg">
                            <div class="text-center hover-text">
                                <h5>Ani Cordero</h5>
                                <p><a href="https://anicordero.bandcamp.com/album/anamores" target="_blank">Anamores</a></p>
                            </div>
                        </div>
                        <div class="img-container col-sm-4 text-center hover-area">
                            <img src="/assets/daphne-golden-chord.jpeg" class="cover">
                            <div class="text-center hover-text">
                                <h5>Daphne Guinness</h5>
                                <p><a href="https://daphneguinness.bandcamp.com/album/daphne-guinness-the-golden-chord" target="_blank">Daphne & The Golden Chord</a></p>
                            </div>
                        </div>
                        <div class="img-container col-sm-4 text-center hover-area">
                            <img src="/assets/daphne-optimist-in-black.jpeg" class="cover">
                            <div class="text-center hover-text">
                                <h5>Daphne Guinness</h5>
                                <p><a href="https://daphneguinness.bandcamp.com/album/optimist-in-black" target="_blank">Optimist in Black</a></p>
                            </div>
                        </div>
                        <div class="img-container col-sm-4 text-center hover-area">
                            <img src="/assets/daphne-revelations.jpeg" class="cover">
                            <div class="text-center hover-text">
                                <h5>Daphne Guinness</h5>
                                <p><a href="https://daphneguinness.bandcamp.com/album/revelations" target="_blank">Revelations</a></p>
                            </div>
                        </div>
                        <div class="img-container col-sm-4 text-center hover-area">
                            <img src="/assets/etienne-daho-paris.jpeg" class="cover">
                            <div class="text-center hover-text">
                                <h5>Etienne Daho</h5>
                                <p><a href="https://music.apple.com/gb/song/paris-sens-interdits-tony-viscontis-mix/1758988348" target="_blank">Paris Sans Interdits</a></p>
                            </div>
                        </div>
                        <div class="img-container col-sm-4 text-center hover-area">
                            <img src="/assets/jeff-taylor-deeper.jpeg" class="cover">
                            <div class="text-center hover-text">
                                <h5>Jeff Taylor</h5>
                                <p><a href="https://jefftayloralive.bandcamp.com/album/a-deeper-kind" target="_blank">A Deeper Kind</a></p>
                            </div>
                        </div>
                        <div class="img-container col-sm-4 text-center hover-area">
                            <img src="/assets/kristeen-young-knife.jpeg" class="cover">
                            <div class="text-center hover-text">
                                <h5>Kristeen Young ft. Dave Grohl</h5>
                                <p><a href="https://music.apple.com/us/album/the-knife-shift/828477971" target="_blank">The Knife Shift</a></p>
                            </div>
                        </div>
                        <div class="img-container col-sm-4 text-center hover-area">
                            <img src="/assets/holy-holy-man.jpeg" class="cover">
                            <div class="text-center hover-text">
                                <h5>Holy Holy</h5>
                                <p><a href="https://music.apple.com/us/album/the-man-who-sold-the-world-single/989801201" target="_blank">The Man Who Sold the World: Live in London</a></p>
                            </div>
                        </div>
                        <div class="img-container col-sm-4 text-center hover-area">
                            <img src="/assets/lady-charles-manic.jpeg" class="cover">
                            <div class="text-center hover-text">
                                <h5>Lady Charles</h5>
                                <p><a href="https://ladycharles.bandcamp.com/album/manic-pixie-dream-world" target="_blank">Manic Pixie Dream World</a></p>
                            </div>
                        </div>
                        <div class="img-container col-sm-4 text-center hover-area">
                            <img src="/assets/trey-lam-good.jpeg" class="cover">
                            <div class="text-center hover-text">
                                <h5>Treya Lam</h5>
                                <p><a href="https://treyalam.bandcamp.com/album/good-news" target="_blank">Good News</a></p>
                            </div>
                        </div>
                        <div class="img-container col-sm-4 text-center hover-area">
                            <img src="/assets/the-formalist-a-n.jpeg" class="cover">
                            <div class="text-center hover-text">
                                <h5>The Formalist</h5>
                                <p><a href="https://music.apple.com/us/album/a-n-single/1735178623" target="_blank">A=N</a></p>
                            </div>
                        </div>
                        <div class="img-container col-sm-4 text-center hover-area">
                            <img src="/assets/kristeen-young-witch.jpeg" class="cover">
                            <div class="text-center hover-text">
                                <h5>Kristeen Young</h5>
                                <p><a href="https://music.apple.com/gb/album/live-at-the-witchs-tit/1294083098" target="_blank">Live at the Witch's Tit</a></p>
                            </div>
                        </div>
                        <div class="img-container col-sm-4 text-center hover-area">
                            <img src="/assets/guiding-light-into-the-arms.jpeg" class="cover">
                            <div class="text-center hover-text">
                                <h5>Guiding Light</h5>
                                <p><a href="https://guidethelightning.bandcamp.com/track/into-the-arms-of-nothing-radio-edit" target="_blank">Into the Arms of Nothing</a></p>
                            </div>
                        </div>
                        <div class="img-container col-sm-4 text-center hover-area">
                            <img src="/assets/fiona-silver-little.jpeg" class="cover">
                            <div class="text-center hover-text">
                                <h5>Fiona Silver</h5>
                                <p><a href="https://music.apple.com/us/album/little-thunder/1409977172" target="_blank">Little Thunder</a></p>
                            </div>
                        </div>
                        <div class="img-container col-sm-4 text-center hover-area">
                            <img src="/assets/capsula-solar-secrets.jpeg" class="cover">
                            <div class="text-center hover-text">
                                <h5>Capsula</h5>
                                <p><a href="https://music.apple.com/us/album/solar-secrets/680990775" target="_blank">Solar Secrets</a></p>
                            </div>
                        </div>
                        <div class="img-container col-sm-4 text-center hover-area">
                            <img src="/assets/breakthrough.jpeg" class="cover">
                            <div class="text-center hover-text">
                                <h5>Breakthrough</h5>
                                <p><a href="https://www.audible.com/podcast/Breakthrough/B0BWSHMPYJ " target="_blank">Audible Original</a></p>
                            </div>
                        </div>
                        <div class="img-container col-sm-4 text-center hover-area">
                            <img src="/assets/ora-when.jpeg" class="cover">
                            <div class="text-center hover-text">
                                <h5>Ora the Molecule</h5>
                                <p><a href="https://soundcloud.com/orathemolecule/ora-the-molecule-when-earth-took-a-breath" target="_blank">When Earth Took a Breath</a></p>
                            </div>
                        </div>
                </div>
            </div>
        </div>
    </body>
</html>