<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1, user-scalable=no">
        <title>Erin Tonkon</title>
        <link rel="stylesheet" href="reel.css">
        <!--font-->
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Geist+Mono:wght@100..900&display=swap" rel="stylesheet">
        <!--end of font-->
        <!--bootstrap-->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
        <!--end of bootstrap-->
    </head>
    <body>
        <div class="container">
            <div class="row">
                <div class="col-sm header">
                        <h1 class="text-center"><a href="/">Erin Tonkon</a></h1>
                        <h3 class="text-center jobs">Producer - Mixer - Engineer</h3>
                        <div><p class="text-center contact"><a href="https://tisch.nyu.edu/about/directory/clive-davis-institute/1736682057.html">Bio</a></p>
                        <p class="text-center"><a href="/reel">Reel</a></p>
                        <p class="text-center"><a href="/contact">Contact</a></p>
                        </div>
                </div>
            <div class="full-width-line"></div>
            <div class="frame">
                <iframe data-testid="embed-iframe" style="border-radius:12px; margin: 1em 12.5%" class="reel" src="https://open.spotify.com/embed/playlist/1CwGPeb5PhBljsB070bvz5?utm_source=generator&theme=0" width="75%" height="700" frameBorder="0" allowfullscreen="" allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture" loading="lazy"></iframe>
            </div>
            </div>
        </div>
    </body>
</html>