body {
  background-color: #eb9dae !important;
}

.container {
    font-family: 'Geist Mono', Verdana, Geneva, Tahoma, sans-serif;
    color: black;
    display: flex;
    flex-direction: column;
}

.full-width-line {
  width: 100%; /* Ensures the div takes up the full width of its parent */
  border-bottom: 1px solid black; /* Creates a 1px solid black line at the bottom */
  box-sizing: border-box; /* Includes padding and border in the element's total width */
}

.header {
    flex-direction: column;
    padding-top: 2em;
}

h1 {
  font-size: 4rem !important;
}

.jobs {
  margin-top: -.5em;
}

.contact {
    margin-top: .5em;
}

p > a,
p > a:hover {
    color: black;
}

h1 > a,
h1 > a:hover {
    color: black;
    font-family: 'Bebas Neue', Verdana, Geneva, Tahoma, sans-serif;
    font-size: 2.5em;
}

@media (max-width: 375px) {
  h3.jobs {
    font-size: 20px;
  }
}

@media (min-width: 390px) and (max-width: 400px) {
  .container {
    padding-left: 15px !important;
  }
}

@media (min-width: 400px) and (max-width: 750px) {
  .container {
    padding-left: 15px !important;
  }
}

@media (min-width: 760px) and (max-width: 800px) {
  img {
    width: 90%;
  }
}

@media (min-width: 800px) and (max-width: 900px) {

  img {
    width: 90%;
  }
}